.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Pretendard-Regular";
}

/*전체 페이지 적용 css */
:root {
  --container-width: 90%;
  --container-max-width: 1200px;
  --container-padding: 1rem;
}

.container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding);
}

.commonStyle {
  display: flex;
  align-items: center;
}

.searchBox {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
  display: flex;
}

.commonImgSize {
  width: 30px;
  height: 30px;
}

.smallImgSize {
  width: 20px;
  height: 20px;
}
.impact {
  color: #ffc107;
}

.impact2 {
  font-size: 24px;
}
.impact3 {
  font-weight: bold;
}
/*app.js해당 css */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  background-color: #f9f9f9;
}

.mainLayout {
  position: fixed;
  top: 153px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #f1f1f1;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 152px;
  z-index: 1000;
}

.mainContent {
  margin-top: 230px;
  z-index: 500;
  position: relative;
}

/* 링크 색상 변경 방지 */
a {
  color: inherit; /* 기본 색상 유지 */
  text-decoration: none; /* 밑줄 제거 */
}

/* 링크 클릭 후 색상 변경 방지 */
a:visited {
  color: inherit; /* 클릭 후에도 색상 유지 */
}

a:active {
  color: inherit; /* 클릭 시에도 색상 유지 */
}
