.alarmContainer {
  position: fixed;
  top: 0;
  right: -330px !important;
  width: 330px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease !important;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.alarmContainer.open {
  right: 0px !important;
}
.alarmText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
}
.alarmListBox {
  display: flex;
  flex-direction: column;
}

.alarmList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  height: 80px;

  align-items: center;
}

.alarmList:hover {
  background-color: #f1f1f1;
}

.alarmListLeftBox {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
}
.alarmListTextBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.alarmProductImgBox {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alarmListImg {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.alarmListContent {
  font-size: 14px;
  color: #555;
}

.alarmListRightBox {
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .alarmContainer {
    top: 40px;
    width: 150px;
  }
  .alarmText {
    margin: 10px;
  }
  .alarmListImg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .alarmListContent {
    font-size: 12px;
  }
}
