.myProductsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainContainer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.favoriteList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 200px;
  padding: 15px 20px;
  background-color: #f9f9f9;
  margin-right: 20px;
}

.shopInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.shopImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
