.headerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  min-width: 1200px;
}

.headerTop {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}

.headerTopRightBox {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.logoutBtn {
  background-color: #f9f9f9;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: "Pretendard-Regular";
  margin-left: 25px;
}
.link {
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.alarmImg {
  width: 25px;
  height: 25px;
  margin-right: 2px;
}

.loginBox {
  display: flex;
  align-items: center;
}

.headerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-size: 30px;
  display: block;
}

.logoBox {
  display: flex;
  align-items: center;
  font-family: LOTTERIACHAB;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.rightBox {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.box {
  position: relative;
  align-items: center;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  color: black;
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.box:hover .overlay {
  opacity: 1;
}
