.recommendBox {
  display: flex;
  flex-direction: column;
  padding: 4px;
}
.productList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.userRecommendName {
  /* color: #333; */
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.cowBoy {
  width: 100%;
  min-width: 1200px;
  height: auto;
  max-height: 400px;
  padding: 20px 0;
}
