.container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  min-width: 1200px;
  position: relative;
}

.recentBoxContainer {
  position: absolute;
  top: 5px;
  right: -180px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 140px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recentBoxTop {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}
.eyeImg {
  width: 20px;
  height: 20px;
  margin-left: 2px;
}

.recentImgBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.recentImgBox::-webkit-scrollbar {
  display: none;
}

.imageImg {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f1f1f1;
}

.noRecentView {
  padding: 10px;
  color: #555;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 780px) {
  .container {
    width: 90%;
    min-width: unset;
  }
}
@media (max-width: 480px) {
  .container {
    min-width: unset;
    height: 20px;
  }
  .recentBoxContainer {
    top: 50px;
    right: -50px;
    width: 80px;
    height: 200px;
    font-size: 10px;
  }
  .eyeImg {
    width: 10px;
    height: 10px;
  }
  .imageImg {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7.5px;
    background-color: #f1f1f1;
  }
  .noRecentView {
    font-size: 10px;
  }
}
