.categoryBox {
  display: flex;
  align-items: flex-start;
  height: 300px;
  border: 1px solid #ccc;
  width: 880px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.navbar {
  position: relative;
  border-right: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  width: 300px;
}

.subNavbar {
  border-right: 1px solid #f1f1f1;
  width: 300px;
  position: absolute;
  top: 0;
  left: 300px;
  background-color: #f1f1f1;
}

.subSubNavbar {
  border-right: 1px solid #f1f1f1;
  width: 300px;
  position: absolute;
  top: 0;
  left: 600px;
  background-color: #f9f9f9;
}

.navbarItem,
.subNavbarItem,
.subSubNavbarItem {
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
  width: 240px;
  height: 20px;
}

.navbarItem:hover,
.subNavbarItem:hover,
.subSubNavbarItem:hover {
  background-color: #ffe187;
}
.selected {
  background-color: #ffe187;
}
