.myProductsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviewBox {
  width: 820px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.reviewList {
  width: 100%;
  height: 150px;
  display: flex;
  padding: 20px;
  border-top: 1px solid #f1f1f1;
  background-color: #f9f9f9;
}

.reviewImg {
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
}

.reviewTextBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 650px;
  padding: 10px;
}

.reviewTopBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
}

.reviewWriter {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.reviewTitle {
  color: #555;
}
.reviewContent {
  height: 50px;
  align-items: center;
}

.reviewRegistTime {
  padding: 20px 0;
  color: #555;
}

.noReviewBox {
  padding: 20px;
  color: #555;
}
